.date_filters {
  display: flex;
  height: 60px;
  background-color: #eaeaea;
  font-size: 13px;
  color: #747474;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 36.7%;

  &__wrapper {
    max-width: 180px;
    margin: 0;
  }

  &__input {
    margin-left: 12px;
    width: 100px;
    height: 31px;
    border-radius: 11px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }

  &-hidden {
    display: none;
  }

  @media screen and (max-width: 768px) {
    height: 60px;

    padding: 0 8%;
    &__input {
      width: 72px;
    }
    &__wrapper {
      width: 150px;
      margin: 0;
    }
  }
}

.jogs {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  &__jog {
    margin-top: 53px;
    background-image: url('../../assets/images/jogicon.svg');
    background-repeat: no-repeat;
    height: 122px;
    width: 242px;
    color: #6c6c6c;
    font-size: 14px;
    padding-left: 132px;

    @media screen and (max-width: 768px) {
      .jogs__jog_text {
        margin: 0;
        padding: 0;
        align-self: center;
        width: 50%;
      }

      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
      height: 187.4px;
      border-bottom: 2px solid #eaeaea;
      width: 100%;
      background-position: 25% 43%;
    }
  }

  &__jog_info_text {
    margin-bottom: 9px;
  }

  &__date {
    color: #948a8a;
    font-weight: normal;
  }

  &__important_text {
    color: #000000;
    font-weight: bold;
  }
}

.new_jog {
  margin: 47px 40px 40px 0;
  text-align: right;

  @media screen and (max-width: 768px) {
    margin: 73px 30px 30px 0;
  }
}
