.modal {
  margin: 118px auto;
  width: 503px;
  height: 379px;
  border-radius: 44px;
  background-color: #7ed321;
  color: #000000;

  &__cancel {
    padding: 27px 27px 0 0;
    text-align: right;

    @media screen and (max-width: 768px) {
      padding: 5px 21px 0 0;
    }
  }

  @media screen and (max-width: 768px) {
    width: 81.6%;
    height: 64.4%;
    padding-top: 11px;
    border-radius: 29px;
    margin-top: 83px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;

  @media screen and (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  &__submit {
    width: 320px;
    height: 42px;
    border-radius: 25.2px;
    border: solid 2px #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 12.6px;
    font-weight: bold;
    text-align: center;
    margin-top: 21px;

    @media screen and (max-width: 768px) {
      width: 78%;
      margin-top: 11px;
    }
  }

  &__submit:hover {
    background-color: #ffffff;
    color: #7ed321;
  }
}

.input_group {
  display: flex;
  width: 326px;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 26px;
    width: 100%;
  }

  &__input {
    align-self: flex-end;
    width: 236px;
    height: 31px;
    border-radius: 7px;
    border: solid 1px #979797;
    background-color: #ffffff;

    @media screen and (max-width: 768px) {
      width: 76%;
      line-height: 1;
      font-size: 13px;
    }
  }

  &__label {
    width: 88px;
    font-size: 16px;
    text-align: left;
    line-height: 31px;

    @media screen and (max-width: 768px) {
      width: 76%;
      line-height: 1;
      font-size: 13px;
      margin-bottom: 5px;
    }
  }
}
