.navbar {
  height: 116px;
  background-color: #7ed321;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    height: 77px;
  }

  &-open {
    @media screen and (max-width: 768px) {
      background-color: #ffffff;
      justify-content: space-evenly;
      height: 667px;
      align-items: flex-start;
      padding-top: 16px;

      .navbar__links-open {
        order: 3;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        height: 150px;
        width: 100%;
        position: absolute;
        top: 185px;
        left: 0;
        align-items: center;
      }
    }
  }

  &__home_link {
    display: block;
    margin-left: 37px;

    @media screen and (max-width: 768px) {
      margin-left: 25px;
    }
  }

  &__logo {
    width: 147px;
    height: 56px;

    @media screen and (max-width: 768px) {
      width: 98px;
      height: 37px;
    }
  }

  &__nav {
    display: flex;
    margin: 0;
  }

  ul {
    width: 380px;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 24px;
    border-bottom: 2px solid transparent;
    @media screen and (max-width: 768px) {
      font-size: 25px;
      color: #000000;
      font-weight: bold;
    }
  }

  &__link:hover,
  &__link:active,
  .navbar__link-active {
    border-bottom: 2px solid #ffffff;

    @media screen and (max-width: 768px) {
      border: none;
      color: #7ed321;
      font-weight: bold;
    }
  }

  .navbar__filter_list_item {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    margin: 0 36px 0 0;

    @media screen and (max-width: 768px) {
      margin-right: 25px;
    }
  }

  .navbar__menu_icon {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      align-self: center;
      height: 24px;
      margin-right: 25px;
    }
  }
}
