@import 'partials/navbar';
@import 'partials/fonts';
@import 'partials/info';
@import 'partials/login';
@import 'partials/jogs';
@import 'partials/jog-form';
@import 'partials/nothing-page.scss';

* {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-stack;
}

ul {
  list-style: none;
}

input:focus,
button:focus {
  outline: none;
}
