@import 'partials/navbar';
@import 'partials/fonts';
@import 'partials/info';
@import 'partials/login';
@import 'partials/jogs';

* {
  box-sizing: border-box;

  ul {
    list-style: none;
  }
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-stack;
}
